@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f9fbfc;
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  height: 100%;
}
